@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

:root {
    --text-color: pink;
    --backgroung-color: black;
}

body {
    backgroung-color: var(--background-color);
}

h1 {
    color: var(--text-color);
    text-align: center;
}
